<%- include("../../partials/header.ejs")%>
<body>
  <%- include("../../partials/navbar.ejs") %>
  <div class="wrapper">
    <hr />
    <div class="container">
      <div class="card">
        <div class="card-header" style="background-color: #0a0822">
          <h2 style="color: white"><%= article.title %></h2>
        </div>
        <div class="card-body bg-dark">
          <div class="cal-12 text-center">
            <h2 style="color: white"><%= article.slug %></h2>
            <br />
            <div style="color: white"><%- article.body %></div>
          </div>
          <br />

          <- buttons ->
          <div class="d-grid gap-2">
            <a
              href="/admin/articles/edit/<%= article.id %>"
              class="btn btn-warning"
              >Editar</a
            >
          </div>
          <form
            method="post"
            action="/articles/delete"
            style="display: inline"
            onsubmit="confimarmarDelecao(event, this)"
          >
            <input type="hidden" name="id" value="<%= article.id %>" />
            <div class="d-grid gap-2">
              <button class="btn btn-danger">Deletar</button>
            </div>
          </form>
          <form method="post" action="/articles/back">
            <div class="d-grid gap-2">
              <button class="btn btn-light" style="float: right">Voltar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include("../../partials/footer.ejs") %>
  </div>
</body>
<%- include("../../partials/footerScript.ejs") %>
<script>
  // imperdir que seja deletada a categoria ou artigo sem querer
  function confimarmarDelecao(event, form) {
    event.preventDefault();
    let decision = confirm("Você quer deletar este artigo?");
    if (decision) {
      form.submit();
    }
  }
</script>
