<%- include("../../partials/header") %>
<body>
    <%- include("../../partials/navbar") %>
    
    <div class="wrapper">
        <hr>
        <div class="container">
            <h2>Artigo</h2>
            <a class="btn btn-success" href="/admin/articles/new">Criar novo artigo</a>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Slug</th>
                        <th>Categoria</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% articles.forEach(article => { %>
                        <tr>
                            <td><%= article.id %></td>
                            <td><%= article.title %></td>
                            <td><%= article.slug %></td>
                            <td><%= article.category.title %></td>
                            <td>
                                <a href="/admin/articles/edit/<%= article.id %>" class="btn btn-warning">Editar</a>
                                <form method="post" action="/articles/delete" style="display: inline;" onsubmit="confimarmarDelecao(event, this)">
                                    <input type="hidden" name="id" value="<%= article.id %>">
                                    <button class="btn btn-danger">Deletar</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <%- include("../../partials/footer") %>
    </div>
</body>
<%- include("../../partials/footerScript") %>
<script>// imperdir que seja deletada a categoria ou artigo sem querer
    function confimarmarDelecao(event, form){
        event.preventDefault();
        let decision = confirm("Você quer deletar este artigo?");
        if(decision){
            form.submit();
        }
    }
    </script>