<%- include("../../partials/header") %>
<body>
  <%- include("../../partials/navbar") %>

  <div class="wrapper">
    <hr />
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h2 style="color: white">Artigo</h2>
        </div>
        <a class="btn btn-success w-auto" href="/admin/articles/new"
          >Criar novo artigo</a
        >
      </div>

      <hr />
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="background-color: #0a0822; color: white">ID</th>
              <th style="background-color: #0a0822; color: white">Título</th>
              <th style="background-color: #0a0822; color: white">Categoria</th>
            </tr>
          </thead>
          <tbody>
            <% articles.forEach(article => { %>
            <tr>
              <td class="bg-dark" style="color: white"><%= article.id %></td>
              <td class="bg-dark" style="color: white">
                <a
                  style="color: white"
                  href="/admin/articles/article/<%= article.slug %>"
                  ><%= article.title %></a
                >
              </td>
              <td class="bg-dark" style="color: white">
                <%= article.category.title %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <%- include("../../partials/footer") %>
  </div>
</body>
<%- include("../../partials/footerScript") %>
