<%- include("partials/header.ejs") %>
<body>
    <%- include("partials/homenavbar.ejs") %> 
    <div class="wrapper">
        
        <div class="container">
            <hr>
            <div class="hero coreshero text-white text-center py-5">
                <h1 class="display-4">Bem-vindo ao Meu Site</h1>
                <p class="lead">Este é um exemplo de destaque personalizado usando Bootstrap 5.3.</p>
            </div>  
            <% articles.forEach(article => { %>
                <div class="card">
                    <div class="card-header">
                        <h2><%= article.title %></h2>
                    </div>
                    <div class="card-body">
                        <a href="<%= article.slug %>" class="btn btn-success">Ler artigo</a>
                    </div>
                </div>
                <br>
            <% }); %>
        </div>
    <%- include("partials/footer.ejs") %>
    </div>   
</body>
<%- include("partials/footerScript.ejs") %>